*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: sans-serif, arial, helvetica,  fantasy;
	line-height: 1.4em;/*22.4px*/
	background: #35A49D;
}
/*------------------------
ANCHURA DEL SITIO
-------------------------*/
.contenedor{
	width: 990px;
	margin: 0 auto;
}
/*------------------------
ENCABEZADO
-------------------------*/
.encabezado{
	background: #3D3D3D;
	height: 70px;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.encabezado h1{
	float: left;
	position: relative;
	margin: 17px 0;
	color: #fff;
	text-shadow: 5px 3px 5px #35A49D;
	font-size: 39px;
}
.encabezado nav{
	float: right;
}
.encabezado nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 70px;
}
.encabezado nav ul li{
	display: inline-block;
	margin-right: -4px;
}
.encabezado nav ul li a{
	display: block;
	color: #fff;
	padding: 20px 7px;
	text-decoration: none;
	height: 70px;
}
.encabezado nav ul li:nth-child(even){
	border-left: 2px solid #696969;
	border-right: 2px solid #696969;
	padding-left: 5px;
	padding-right: 5px;
}
.encabezado nav ul li:hover{
	background: #fff;
}
.encabezado nav ul li a:hover{
	color: #3d3d3d;
	font-weight: bolder;
	text-decoration: underline;
}
/*-----------------------------------
BLOQUE-CONTENIDO
-----------------------------------*/
div.bloque-contenido{
	padding-top: 80px;
}
.bloque-contenido .contenedor{
	display: table;
}
.articulos{
	display: table-cell;
	/*padding-right: 80px;*/
}
.articulos img{
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 20px;
}
.articulos article{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 3px solid #fff;
}
.articulos article:nth-child(3){
	padding-bottom: 90px;
}
.articulos h1{
	text-align: center;
	color: #FFE89C;
	text-shadow: 1px 1px 5px #dede25,
	1.5px 1.5px 0 #000;
	font-size: 35px;

}
.articulos ul{
	position: relative;
}
.articulos ul li{
	padding-bottom: 8px;
	list-style: none;
	font-weight: bolder;
	font-size: 20px;
	color: #FFE89C;
}
.articulos ul li span{
	font-weight: lighter;
	font-size: 16px;
	color: #fff;
}
.articulos > img{
	float: right;
}
.primera-profesion{
	position: relative;
	float: left;
	bottom: 18px;
	padding-right: 20px;
	border: 2px solid #3D3D3D;
	box-shadow: 3px 3px 5px 2px #fff;
	background: #3D3D3D;
}
.segunda-profesion{
	position: absolute;
	right: 5px;
	padding-right: 20px;
	bottom: -5px;
	border: 2px solid #3D3D3D;
	box-shadow: 3px 3px 5px 2px #fff;
	background: #3D3D3D;
}